<h1>Triangle Program</h1>
<form action="/result">
  <div class="form-group">
    <label for="string">Triangle Side 1 length:</label>
    <input id="string" name="side1_length" class="form-control" type="string">
    <label for="string">Triangle Side 2 length:</label>
    <input id="string" name="side2_length" class="form-control" type="string">
    <label for="string">Triangle Side 3 length:</label>
    <input id="string" name="side3_length" class="form-control" type="string">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
